// Created by Martynas on 4/9/2016.

//footer.footer
//  .container
//    p.text-muted Svetainę kūrė Martynas Girčys, LMAVB, 2016
//  link(href="/stylesheets/sticky-footer.css" rel="stylesheet")

footer.blog-footer
  link(href="/stylesheets/footer.css" rel="stylesheet")
  p Svetainę kūrė Martynas Girčys, LMAVB, 2016
  a(href='#') Grįžti į viršų













