extends main_layout

block append STYLES_ADDITIONAL

block CONTENT
  .jumbotron(style='padding:0; margin-bottom:0')
    .container
      h1(align='center')= pavadinimasSvetaines
      br
      p= pristatymasSvetaines

  include panelePaiesku.jade
  include panelesIrasuModifikavimo.jade

  include lenteleZurnaluSaraso.jade


