extends main_layout

block append STYLES_ADDITIONAL

block CONTENT
  .jumbotron
    .container
      h1(align='center')= pavadinimasSvetaines
      br
      p= pristatymasSvetaines

  include panelePaiesku.jade

  include lenteleZurnaluSaraso.jade


