doctype html
html
  head


    //title= title
    //link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    //script(src='/bootstrap/js/bootstrap.min.js')



    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

    meta(name='description', content='')
    meta(name='author', content='')

    link(rel='stylesheet', href='/bootstrap-3.3.6-dist/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/bootstrap-3.3.6-dist/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap-3.3.6-dist/js/bootstrap.min.js')


    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lentele.css')


  body
    block content





