// Created by Martynas on 4/9/2016.



table#lenteleIrasuSaraso.table-responsivetable.table.table-striped.table-bordered
  thead
    tr
      - for (var numerisStulpelioArbaFieldo = 0; numerisStulpelioArbaFieldo < variables.getKiekiStulpeliuIrFieldu(); numerisStulpelioArbaFieldo++) {
        - if (variables.getArRodomasStulpelisLenteleje(pavadinimasCollection, numerisStulpelioArbaFieldo)) {
          - if (variables.getAliasArbaNumeriStulpelioArbaFieldo(pavadinimasCollection, numerisStulpelioArbaFieldo) == 'checkboxTrynimoIrKeitimo') {
            th: input.checkboxInThead(type='checkbox' id='visi')
          - }
          - else {
            th= variables.getPavadinimaStulpelio(pavadinimasCollection, numerisStulpelioArbaFieldo)
          - }
        - }
      - }
  tbody
    - for (var numerisEilutesIrElemento = 0; numerisEilutesIrElemento < masyvasDocumentu.length; numerisEilutesIrElemento++) {
      tr
        - var objektasDocumento = masyvasDocumentu[numerisEilutesIrElemento];
        - var rasta = false;
        - for (var numerisStulpelioArbaFieldo = 0; numerisStulpelioArbaFieldo < variables.getKiekiStulpeliuIrFieldu(); numerisStulpelioArbaFieldo++) {
          - if (variables.getArRodomasStulpelisLenteleje(pavadinimasCollection, numerisStulpelioArbaFieldo)) {
            - if (variables.getAliasArbaNumeriStulpelioArbaFieldo(pavadinimasCollection, numerisStulpelioArbaFieldo) == 'checkboxTrynimoIrKeitimo') {
              td: input.checkboxInTbody(type='checkbox' id=objektasDocumento['_id'].toHexString())
            - }
            - else if (variables.getAliasArbaNumeriStulpelioArbaFieldo(pavadinimasCollection, numerisStulpelioArbaFieldo) == 'nr') {
              td= numerisEilutesIrElemento
            - }
            - else if (objektasDocumento.hasOwnProperty(variables.getPavadinimaFieldo(pavadinimasCollection, numerisStulpelioArbaFieldo))) {
              td!= Autolinker.link(objektasDocumento[variables.getPavadinimaFieldo(pavadinimasCollection, numerisStulpelioArbaFieldo)])
            - }
            - else {
              td
            - }
          - }
        - }
    - }


script.

  $('.checkboxInThead').change(function(event) {
    if (this.checked) {
      $('.checkboxInTbody').prop('checked', true);
    }
    else {
      $('.checkboxInTbody').prop('checked', false);
    }
  });