// Created by Martynas on 4/9/2016.



table#lenteleZurnaluSaraso.table-responsivetable.table.table-striped.table-bordered
  thead
    //- console.log('@@@in index.jade: ', masyvasDocumentuZurnalu, 'in index.jade@@@')
    tr
      - for (var numerisStulpelioArbaFieldo = 0; numerisStulpelioArbaFieldo < kiekisStulpeliuArbaFieldu; numerisStulpelioArbaFieldo++) {
        - if (getArRodytiStulpeliLenteleje(numerisStulpelioArbaFieldo)) {
          - if (getAliasStulpelioArbaFieldo(numerisStulpelioArbaFieldo) == 'checkboxTrynimoIrKeitimo') {
            th: input.checkboxInThead(type='checkbox' id='visi')
          - }
          - else {
            th= getPavadinimaStulpelio(numerisStulpelioArbaFieldo)
          - }
        - }
      - }
  tbody
    //- console.log('444444', masyvasDocumentuZurnalu)
    - for (var numerisEilutesIrElemento = 0; numerisEilutesIrElemento < masyvasDocumentuZurnalu.length; numerisEilutesIrElemento++) {
      tr
        //- console.log('22222', numerisEilutesIrElemento);
        - var objektasDocumentZurnalo = masyvasDocumentuZurnalu[numerisEilutesIrElemento];
        - var rasta = false;
        - for (var numerisStulpelioArbaFieldo = 0; numerisStulpelioArbaFieldo < kiekisStulpeliuArbaFieldu; numerisStulpelioArbaFieldo++) {
          //- console.log('77777777777', objektasDocumentZurnalo);
          //- console.log('88888888888', getPavadinimaFieldo(numerisStulpelioArbaFieldo));
          //- console.log('99999999999', getPavadinimaStulpelio(numerisStulpelioArbaFieldo));
          //- console.log('AAAAAAAAAAA', objektasDocumentZurnalo.hasOwnProperty(getPavadinimaFieldo(numerisStulpelioArbaFieldo)));
          //- if (numerisStulpelio == 0) {
          //  td= numerisEilutesIrElemento
          //- }
          - if (getArRodytiStulpeliLenteleje(numerisStulpelioArbaFieldo)) {
            - if (getAliasStulpelioArbaFieldo(numerisStulpelioArbaFieldo) == 'checkboxTrynimoIrKeitimo') {
              td: input.checkboxInTbody(type='checkbox' id=objektasDocumentZurnalo['_id'].toHexString())
            - }
            - else if (getAliasStulpelioArbaFieldo(numerisStulpelioArbaFieldo) == 'nr') {
              td= numerisEilutesIrElemento
            - }
            - else if (objektasDocumentZurnalo.hasOwnProperty(getPavadinimaFieldo(numerisStulpelioArbaFieldo))) {
              td!= Autolinker.link(objektasDocumentZurnalo[getPavadinimaFieldo(numerisStulpelioArbaFieldo)])
            - }
            - else {
              td
            - }
          - }
        - }
    - }


script.

  $('.checkboxInThead').change(function(event) {
    if (this.checked) {
      $('.checkboxInTbody').prop('checked', true);
    }
    else {
      $('.checkboxInTbody').prop('checked', false);
    }
  });