// Created by Martynas on 4/9/2016.

extends main_layout.jade

block CONTENT

  .container-viewport.col-sm-offset-1
    form.form-horizontal.col-sm-offset-1.col-sm-5
      - for (var numerisStulpelioIrFieldo = 1; numerisStulpelioIrFieldo < kiekisStulpeliuRodomu; numerisStulpelioIrFieldo++) {
        .form-group
          label.col-sm-2.control-label(for=getPavadinimaFieldo(numerisStulpelioIrFieldo)) #{getPavadinimaStulpelio(numerisStulpelioIrFieldo)}:
          .col-sm-10
            textarea.form-control(type='text' id=getPavadinimaFieldo(numerisStulpelioIrFieldo))
      - }
      .col-sm-offset-2
        button(type='submit').btn.btn-success Pridėti naują žurnalą















