// Created by Martynas on 4/9/2016.

.navbar.navbar-inverse.navbar-static-top(style='margin-bottom:10px')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
        span (not sure, ismegint)Toggle navigation
        span.icon-bar (not sure, ismegint)kazkas kito
      a.navbar-brand(href='/'): b(style='color:white')= pavadinimasSvetaines
    #navbar.navbar-collapse.collapse
      .navbar-form.navbar-right
        - if (arAdmin) {
          form(action='#')
            button.btn.btn-success(type='submit') Atsijungti
        -}
        - else {
          form(action=)
            .form-group(style='margin-right:5px')
              input.form-control(type='text' placeholder='El. paštas' name='username')
            .form-group(style='margin-right:5px')
              input.form-control(type='password' placeholder='Slaptažodis' name='password')
            .checkbox(style='margin-right:5px')
              label(style="color:white")
                input(type='checkbox' value='prisimintiVartotoja' name='checkboxPrisimintiVartotoja')
                | Prisiminti
                button.btn.btn-success(type='submit') Prisijungti
        -}













