// Created by Martynas on 4/9/2016.


#panelePaiesku.panel.panel-default(style='padding:10px; margin-bottom:0;')
  .container-fluid
    #panelePagalAbecelePaieskos.panel.panel-defaul(style='margin-bottom:0')
      .panel-body(align='center')
        span(style='font-size:20px; margin-right:20px'): b Pasirinkite:
        .btn-group(role='group' aria-label='grupeMygtukuPagalAbecelePaieskos')
          a(href='/'): .btn.btn-default(type='button'): b Visi
          each raide in vv.masyvasRaidziuAbecelesLietuviskos
            //a(href=pathIrQueryPaieskuPagalRegexBeReiksmesParametro+'/^\\s*'+raide+'/i')
            a(href='/' + '?raide=' + raide)
              .btn.btn-default(type='button')= raide
    #panelePagalFrazePaieskos.panel.panel-default(style='margin-bottom:0')
      .panel-body
        .row
          label.col-sm-3(style='font-size:20px; text-align:right;' for='textareaPaieskaPagalFraze'): b Įrašykite ieškomą tekstą:
          .col-sm-6
            textarea#textareaPaieskaPagalFraze.form-control(type='text' style='')
          a#aPaieskaPagalFraze.btn.btn-default.col-sm-1(href='/'+'?fraze=') Ieškoti


- if (typeof jQuery == 'undefined') {
  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
- }

script.
  $(document).ready(function(){
    console.log('@@@@@@@33');

    var ieskotiPagalFraze = function() {
      var frazePaieskos = $('#textareaPaieskaPagalFraze').val();
      console.log('@@@@@@@38');
      if (frazePaieskos) {
        frazePaieskos = $.trim(frazePaieskos);
        if (frazePaieskos) {
          var pathIrQuery = $('#aPaieskaPagalFraze').attr('href') + frazePaieskos;
          window.location.href = pathIrQuery;
        }
        else {
          $('#textareaPaieskaPagalFraze').focus();
        }
      }
      else {
        $('#textareaPaieskaPagalFraze').focus();
      }
    };

    $('#aPaieskaPagalFraze').click(function (event) {
      event.preventDefault();
      ieskotiPagalFraze();
    });

    $("#textareaPaieskaPagalFraze").keypress(function (event) {
      if ((event.keyCode || event.which) == 13) { //Enter keycode
        event.preventDefault();
        ieskotiPagalFraze();
      }
    });

    var parser = document.createElement('a');
    parser.href = "http://example.com:3000/pathname/?search=test#hash";

    console.log('@@@@@@54'+parser.protocol)

  });





