//
   Created by Martynas on 3/20/2016.


extends main_layout

block content
    h1= title
    p Tekstas blah blah #{title}
    ul
        li
            a(href='mailto:testuser1@testdomain.com') testuser1
        li
            a(href='mailto:testuser2@testdomain.com') testuser21
        li
            a(href='mailto:testuser3@testdomain.com') testuser3
        li
            a(href='mailto:testuser4@testdomain.com') testuser4




    //<ul>
    //<li><a href="mailto:testuser1@testdomain.com">testuser1</a></li>
    //<li><a href="mailto:testuser2@testdomain.com">testuser2</a></li>
    //<li><a href="mailto:testuser3@testdomain.com">testuser3</a></li>
    //</ul>
















