extends main_layout


block append STYLES_ADDITIONAL


block CONTENT

  include jumbotron.jade

  include panelePaiesku.jade

  include panelesIrasuModifikavimo.jade

  include lenteleIrasuSaraso.jade


