extends main_layout


block append STYLES_ADDITIONAL

block NAVBAR
  //p= pp.arAdmin
  include navbar.jade

block CONTENT

  include jumbotron.jade

  include panelePaiesku.jade

  include panelesIrasuModifikavimo.jade

  include lenteleIrasuSaraso.jade


