extends main_layout.jade


block append STYLES_ADDITIONAL

block NAVBAR
  //p= pp.arAdmin
  include navbar.jade

block CONTENT

  include jumbotron.jade

  include panelePaiesku.jade

  - if (pp.req.baseUrl == vv.pathAdmin) {
    include panelesIrasoModifikavimo.jade
  - }

  include lenteleIrasuSaraso.jade


